.catStyle{
    padding-left: 50px;
}
li{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
button a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    
}
button a:hover{
    text-decoration: none;
    color: blanchedalmond;
    font-size: large;
}
#categ li{
    display: flex;
    justify-content: space-between;
}

body{
    background-image: url(../img/images/tp/azul1.jpg);
    color: whitesmoke;
}

#detail{
    margin-top: 40px;
}
footer{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
    background-color: black!important;
    height: 85px;
    color: blue;
    margin-top: 30px;

 }
 .color{
     color: darkgoldenrod !important;
 }
 

.star h2 p {
    width: 250px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: left;
  }
  
.opinion{
    margin-top: 30px;
    color: darkgoldenrod !important;
}
  
.star label {
    font-size: 40px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
.comment{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: darkgoldenrod;
}
div.container h4{
    color: whitesmoke;
}
/*.div-comentarios{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    align-items: center;
   
}

.caja-comentario{
    width: 100%;
    font-style: italic;
}

.posteo{
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    background: lightgray;
    border: black;
    border-radius: 10px;
}

.nick{
    font-style: normal;
    font-weight: bold;
}

#commentForm input{
    text-align: center;
}

#commentForm textarea{
    padding: 5px;
}

.box{
    margin-top: 20px;
    overflow: scroll;
    height: inherit;
}*/

.table{
    color: whitesmoke !important;
}

.lista{
    color: darkgoldenrod !important;
    margin-top: 40px;
    font-size: 25px;
}

#btn{
    width: 100px;
    font-size: 20px;
    margin-top: 30px;
}

